body {
  margin: 5%;
}
.wrapper {
  display: grid;
}
.team-search-box {
  border: medium dotted red;
}
.team-product-list {
  border: medium dotted blue;
}
.team-inspire-list {
  border: medium dotted green;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}